@font-face {
    font-family: 'Nunito Regular';
    src: url(../assets/fonts/Nunito-Regular.ttf);
}
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito Regular', ;
}

*::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

*::-webkit-scrollbar {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(2, 0, 114, 0.685);
    border-radius: 20px;
    border: transparent;
    margin: 1px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

html, body {
    transition: all .12s ease-in;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-image: url(../assets/images/ignite-100859919-large.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: rgba(0, 0, 0, 0.555);
    background-color: white;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    z-index: 8;
}

button#menu_btn {
    transition: all .12s ease-in;
    color: black;
    font-weight: 500;
}
button#menu_btn:hover {
    transition: all .12s ease-in;
    color: white;
    stroke: white;
}
button#menu_btn >svg {
    transition: all .12s ease-in;
    stroke: black;
}
button#menu_btn:hover > svg {
    transition: all .12s ease-in;
    stroke: white;
}

nav.menu {
    /* background-color: rgba(49, 130, 206, 0.507); */
    background-color: rgba(0, 0, 0, 0.507);
    background-color: white;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    top: 50px;
    position: fixed;
    right: 0px;
    width: 20vw;
    width: calc(100% - 80vw);
    width: 250px;
    height: 100%;
    z-index: 9;
}

@media screen and (max-width: 350px) {
    nav.menu {
        width: 100vw;
    }
}

nav > .nav-links, nav > .nav-links > svg {
    font-weight: 500;
    color: rgb(15 23 42);
    stroke: rgb(15 23 42);
}
nav > .nav-links:hover {
    transition: all .12s ease-in;
    color: white;
}
nav > .nav-links:hover > svg {
    transition: all .12s ease-in;
    stroke: white;
}
nav>.nav-links.nlgbtn, .menu-items.mlg-btn {
    transition: all .12s ease-in;
    color: red;
}
nav > .nav-links:hover {
    transition: all .12s ease-in;
    color: white;
}

nav.menu ul > li {
    transition: all .12s ease-in;
    font-weight: 500;
    border-bottom: 1px solid rgba(112, 128, 144, 0.315);
}

.nav-links.n-usr {
    align-items: center;
}

nav.menu ul > li:hover {
    transition: all .12s ease-in;
    color: white;
    border-bottom: 1px solid slategray;
}

/* header.landing-header {
    background-color: rgba(0, 0, 0, 0.555);
}
header.landing-header *, header.landing-header > button#menu_btn>svg, header.landing-header > button#menu_btn {
    color: whitesmoke;
    stroke: whitesmoke;
} */

div.flc {
    z-index: 12;
    position: fixed;
}

div.user-section {
    background-color: rgba(0, 0, 0, 0.507);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

div.landing-view {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.425);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
}

div.landing-content {
    height: 100vh;
}

div.landing-about {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.425);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
}

div.landing-info {
    background-color: rgba(0, 0, 0, 0.425);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
}

div.landing-about > div.about-card {
    justify-content: space-around;
}

div.landing-info._contact a {
    transition: all .12s ease-in;
    padding-inline: 2px;
    width: 230px;
}

div.landing-info._contact a:hover {
    transition: all .12s ease-in;
    background-color: rgba(33, 179, 241, 0.514);
    border-radius: 3px;
}

div.landing-footer {
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
}

div.slide-wrapper {
    max-width: 80vw;
    padding-inline: 20px;
    overflow-x: auto;
    height: auto;
    display: inline-flex;
}

div.slide-card {
    min-width: 200px;
    display: inline-block;
}

div.input-wrapper {
    border-radius: 6px;
}

div.in input::placeholder {
    color: rgb(12, 12, 12);
}

div.modal, div.loading-frame {
    height: 100%;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.425);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 8;
    box-sizing: content-box;
    overflow-x: auto;
}

div.side {
    height: 100%;
    height: unset;
    box-sizing: content-box;
    box-sizing: border-box;
}

div.loading-frame {
    z-index: 15;
}

a.view-cat {
    margin-inline: auto;
    margin-bottom: -12px;
}

button.edit-avt {
    position: relative;
    float: right;
    margin-top: -25%;
    margin-right: 8px;
    border-radius: 50%;
}

input.side-in {
    color: black;
}

input.side-in::placeholder {
    color: black;
}