@font-face {
    font-family: 'Nunito Regular';
    src: url(../assets/fonts/Nunito-Regular.ttf);
}
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito Regular', ;
}

*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(2, 0, 114, 0.685);
    border-radius: 20px;
    border: transparent;
    margin: 1px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

html, body {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

body {
    background-image: url(../assets/images/ignite-100859919-large.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div.landing-header {
}

header {
    background-color: rgba(0, 0, 0, 0.555);
    background-color: white;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    z-index: 8;
}

button#menu_btn {
    color: black;
}
button#menu_btn:hover {
    color: white;
    stroke: white;
}
button#menu_btn >svg {
    stroke: black;
}
button#menu_btn:hover > svg {
    stroke: white;
}

nav.menu {
    /* background-color: rgba(49, 130, 206, 0.507); */
    background-color: rgba(0, 0, 0, 0.507);
    background-color: white;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    top: 50px;
    position: fixed;
    right: 0px;
    width: 50vw;
    height: 100%;
    z-index: 9;
}

@media screen and (max-width: 450px) {
    nav.menu {
        width: 70vw;
    }
}

@media screen and (max-width: 350px) {
    nav.menu {
        width: 100vw;
    }
}

nav.menu ul > li {
    color: rgb(15 23 42);
    font-weight: 500;
    border-bottom: 1px solid slategray;
}

nav.menu ul > li:hover {
    color: white;
}

div.flc {
    z-index: 12;
    position: fixed;
}

div.user-section {
    background-color: rgba(0, 0, 0, 0.507);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

div.landing-view {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.425);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
}

div.landing-content {
    height: 100vh;
}

div.landing-about {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.425);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
}

div.landing-info {
    background-color: rgba(0, 0, 0, 0.425);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
}

div.landing-footer {
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
}

div.slide-wrapper {
    max-width: 80vw;
    padding-inline: 20px;
    overflow-x: auto;
    height: fit-content;
    min-height: max-content;
}

div.slide-card {
    min-width: 200px;
}

div.input-wrapper {
    border-radius: 6px;
}

div.in input::placeholder {
    color: rgb(12, 12, 12);
}

div.modal, div.loading-frame {
    height: 100%;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.425);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 8;
    box-sizing: content-box;
    overflow-x: auto;
}

div.side {
    height: 100%;
    height: unset;
    box-sizing: content-box;
    box-sizing: border-box;
}

div.loading-frame {
    z-index: 15;
}

a.view-cat {
    margin-inline: auto;
    margin-bottom: -12px;
}

button.edit-avt {
    position: relative;
    float: right;
    margin-top: -25%;
    margin-right: 8px;
    border-radius: 50%;
}

input.side-in {
    color: black;
}

input.side-in::placeholder {
    color: black;
}